@import 'mobile';
@import 'widgets';

.nav-menu {
    font-weight: bold;
    > a { margin: 0 1rem; } // Spacing entries
    color: black;
    padding: 0.5rem; // Leaving background space around entries
}

header {
    text-align: center;
    font-weight: bold;
    background-color: rgb(239, 239, 239);
}

article > div:first-child > h1, section > h1:first-child {
    text-align: center;
    font-size: 2.6em;
}

article > div:first-child {
    text-align: center;
}

.read-more {
    text-align: center;
    display: block;
    font-weight: bold;
}

.pagination {
    background-color: rgb(239, 239, 239);
    margin-top: 1rem;
    text-align: center;
    > a {
        font-weight: bolder;
        font-variant: small-caps;
        padding: 0 2rem;
    }
}

main {
    margin: 1rem 0;
}

.source {
    background-color: rgb(239, 239, 239);
    text-align: center;
    font-weight: bold;
}

.widget-bubble {
    max-width: 30%;
}
